{% extends "base.html" %}
{% block title %}qrpth.eu - GRAPHS!{% endblock %}
{% block head %}
	<meta http-equiv="refresh" content="600">
	<style>img { max-width: 100% }</style>
{% endblock %}
{% block main %}
	<h2>Users in LoadingReadyRun Twitch chat</h2>
	<p><img src="/LRL/lrr-1d.svg" alt="Last 24 hours"></p>
	<p><img src="/LRL/lrr-3d.svg" alt="Last 3 days"></p>
	<p><img src="/LRL/lrr-7d.svg" alt="Last 7 days"></p>
	<p><img src="/LRL/lrr-30d.svg" alt="Last 30 days"></p>
	<p><img src="/LRL/lrr-60d.svg" alt="Last 60 days"></p>
{% endblock %}
