{% extends "base.html" %}
{% block title %}qrpth.eu - LRL chat logs - Search{% endblock %}
{% block head %}
	<link rel="stylesheet" href="http://lrrbot.mrphlip.com/static/archive.css">
	<style>.line, input { display: inline; }</style>
{% endblock %}
{% block main %}
	<p><form><input id="q" type="text" name="q" value="{{ query }}"><input type="submit" value="Search"></form></p>
        {% for id_, message, time in messages %}
	<div id="entry-{{ id_ }}"><span class="timestamp">{{ time.strftime("%Y-%m-%d %H:%M") }}</span> {{ message|safe }}</div>
        {% endfor %}
	<script>
		var list = document.getElementsByClassName("deleted");
		for (var i = 0; i < list.length; i++) {
			list[i].onclick = function(e) {
				e.target.style.display = "none";
				var sibling = e.target.nextElementSibling;
				while (sibling.className.indexOf("message") == -1)
					sibling = sibling.nextElementSibling;
				sibling.style.display = "inline";
			};
		}
	</script>
{% endblock %}
